@import './scss/_fonts';
@import './scss/_variables';
@import './scss/_mixins';
@import './scss/_keyboard';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: $background-color;
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  height: 60px;
  background-color: $background-header;
}
.main {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: $background-footer;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__logo {
    width: 80px;
    height: 60px;
    .school-logo {
      background-image: url('./assets/svg/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
  &__author {
    color: #e5e7eb;
    a {
      text-decoration: none;
      color: #a1a8b6;
    }
  }
}