@font-face {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url('./assets/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}