.content {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__textarea {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: $color-textarea;
    border: none;
    outline: none;
    background-color: $background-textarea;
    padding-left: 10px;
    transition: 0.2s;
  }
}

.keyboard {
  width: 100%;
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: $background-keyboard;
    max-width: 1008px;
    @include border-radius(0.95em, 0.95em, 2em, 2em);
    border: 3px solid $key-border;
    width: 100%;
    padding: 10px 10px 20px;
    .row {
      display: flex;
    }
    .key {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 5px 4px;
      position: relative;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      color: $key-color;
      cursor: pointer;
      background: $background-key;
      border: 2px solid $key-border;
      @include border-radius(0.35em, 0.35em, 0.65em, 0.65em);
      transition: transform 0.15s;
      transform-style: preserve-3d;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $key-shadow;
        border-radius: inherit;
        box-shadow: 0 0 0 2px $key-border, 0 0.625em 0 0 $background-keyboard;
        transform: translate3d(0, 0.55em, -1em);
        transition: transform 0.25s, box-shadow 0.15s;
      }
      &:hover {
        background: $key-press;
      }
      &:active {
        background: $key-press;
        transform: translate(0, 0.55em);
      }
      &:hover::before {
        box-shadow: 0 0 0 2px $key-border, 0 0.5em 0 0 $background-keyboard;
      }
      &:active::before {
        box-shadow: 0 0 0 2px $key-border, 0 0.5em 0 0 $background-keyboard;
        transform: translate3d(0, 0.35em, -1em);
      }
      &__first {
        text-align: left;
        padding-left: 10px;
        width: 100%;
      }
      &__second {
      }
    }
    .letter {
      font-weight: 900;
    }
    .active {
      background: $key-press;
      transform: translate(0, 0.55em);
      &::before {
        box-shadow: 0 0 0 2px $key-border, 0 0.5em 0 0 $background-keyboard;
        transform: translate3d(0, 0.35em, -1em);
      }
    }
    .upperCase {
      text-transform: uppercase;
    }
    .focused {
      background: $key-press;
    }
    .tab {
      width: 90px;
    }
    .backspace {
      width: 120px;
    }
    .caps-lock {
      width: 90px;
    }
    .enter {
      width: 90px;
    }
    .shift {
      width: 123px;
    }
    .space {
      width: 390px;
    }
  }
}