$key-border: #c4b5fd;
$key-shadow: #52525b;
$key-press: #374151;
$key-color: #111827;
$key_second-color: #111827;
$background-key: #6b7280;
$background-keyboard: #64748b;
$background-textarea: #e0e7ff;
$color-textarea: #64748b;
$background-color: #c7d2fe;
$background-header: #312e81;
$background-footer: #100929;
